<!DOCTYPE HTML>
<html>

	<head>
		<title> 首页代码结构</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/page-min.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="css/bootstrap.css" />
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.js"></script>
		<link href="../assets/css/myGZT.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
	
		<div >
			<div class="top">
				代办事项
			</div>
			<div>
				<div class="col-md-1">

					<p>事项1</p>
					<p>事项2</p>
					<p>事项3</p>
					<p>事项4</p>

				</div>
				
				<div class="col-md-11">
					<div id="chuli" style="margin-left: -15px;"><span class="glyphicon glyphicon-play">处理</span><span></span></div>
					<table class="table">
						<tr style="background-color: #EBECED;">
							<th><input type="checkbox" onclick="dianji()" id="all" /></th>
							<th>代办类型</th>
							<th>发送人</th>
							<th>发送时间</th>
							<th>操作</th>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="ck" /></td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
							<td>Data</td>
						</tr>
					</table>
					<div id="in">
						<ul>
							<li>
								<a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a>
							</li>
							<li>第<input type="text" style="width: 50px;height: 20px;" />页&nbsp;&nbsp;&nbsp;共0页</li>

							<li>
								<a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a>
							</li>

							<li></li>
							<li></li>
							<li></li>
							<li></li>

							<li style="float: right;margin-right: 20px;">
								<a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>

		<body>

</html>

<script>
	/*$("#toggle").click(function() {
						$("#a").toggle();
					})
					*/
	//点击tr 多选框选中事件
	$(function() { //除了表头（第一行）以外所有的行添加click事件. 
		$("tr").slice(1).click(function() {
			// 切换样式 
			$(this).toggleClass("tr_active");
			// 找到checkbox对象 
			var chks = $("input[type='checkbox']", this);
			var tag = $(this).attr("tag");
			if(tag == "selected") {
				// 之前已选中，设置为未选中
				$(this).attr("tag", "");
				chks.prop("checked", false);
			} else {
				// 之前未选中，设置为选中 
				$(this).attr("tag", "selected");
				chks.prop("checked", true);
			}
		});

	});

	/**
	 * 点击头多选框其他的全部选中
	 */
	function dianji() {

		var flag = document.getElementById("all").checked;
		alert(flag)
		var cks = document.getElementsByName("ck");
		if(flag) {
			for(var i = 0; i < cks.length; i++) {
				cks[i].checked = true;
			}
		} else {
			for(var i = 0; i < cks.length; i++) {
				cks[i].checked = false;
			}
		}
	}
</script>