<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../assets/css/document.css" />
</head>
<body>
		<div class="s">
       	<div class="tab">
       		<table border="1">
       			<tr class="ta1">
       				<th colspan="6">
       					<a href=""><img src="../assets/img/上传.png" class="img1"/></a>
       					<span>上传</span>	
       					&nbsp;&nbsp;
       					<a href=""><img src="../assets/img/下载 (1).png" class="img2"/></a>
       					<span>下载</span>
       					&nbsp;&nbsp;
       					<a href=""><img src="../assets/img/删除筛选项.png" class="img3"/></a>
       					<span>删除</span>
       					&nbsp;&nbsp;
       					<a href=""><img src="../assets/img/刷新.png" class="img4"/></a>
       					<span>刷新</span>
       					<div class="sp1">
       						<input type="text" placeholder="请输入关键字，回车查询...." />
       						<button><img src="../assets/img/搜索--1.png"/></button>
       					</div>
       				</th>
       			</tr>
       			<tr>
       				<th></th>
       				<th>文件名</th>
       				<th>类型</th>
       				<th>时间</th>
       				<th>消息</th>
       				<th>是否可用</th>
       			</tr>
  			</table>
  		</div>
  	</div>
	</body>
</html>
