<!DOCTYPE HTML>
<html>
 <head>
	<meta charset="utf-8" />
  	<title></title>
  	<style type="text/css">
  	.s{
    	width: 910px;
    	height: 540px;
    	float: left;
    	margin-left: 36px;
    	margin-top: -6px;
    }
	
	.tab table{
		border: 1px solid silver;
		width: 1127px;
		height: 30px;
		margin-left: -43px;
		text-align: left;
		line-height: 30px;
	}
	
	.img1{
		width: 18px;
		height: 18px;
		margin-bottom: -3px;
	}
  	</style>
 <body>
  	<div class="s">
       	<div class="tab">
       		<table border="1">
       			<tr>
       				<th colspan="5">
       					&nbsp;
       					<a href=""><img src="../assets/img/刷新.png" class="img1"/></a>
       					<span>刷新</span>
       				</th>
       			</tr>
       			<tr>
       				<th>事项</th>
       				<th>时间</th>
       				<th>处理人</th>
       				<th>处理操作</th>
       				<th>处理意见</th>
       			</tr>
       			<tr>
       				<td>项目立定审核</td>
       				<td>2017-03-06 09:10:05</td>
       				<td>启动用户</td>
       				<td>同意</td>
       				<td>无</td>
       			</tr>
       			
  			</table>
  		</div>
  	</div>
<body>
</html>  