<!DOCTYPE HTML>
<html>
 <head>
	<meta charset="utf-8" />
  	<title></title>
  	<style type="text/css">
  	.s{
    	width: 910px;
    	height: 540px;
    	float: left;
    	margin-left: 36px;
    	margin-top: -6px;
    }
	
	.tab table{
		border: 1px solid silver;
		width: 1127px;
		height: 30px;
		margin-left: -43px;
		text-align: left;
		line-height: 30px;
	}
	
	.img1{
		width: 18px;
		height: 18px;
		margin-bottom: -3px;
	}
  	</style>
 <body>
  	<div class="s">
       	<div class="tab">
       		<table border="1">
       			<tr>
       				<th colspan="2">
       					<span>人员任务总览</span>
       				</th>
       			</tr>
       			<tr>
       				<th>人员姓名</th>
       				<th>正在进行的任务</th>
       			</tr>
       			<tr>
       				<td>张三</td>
       				<td>2017-03-01XX项目	主审</td>
       			</tr>
       			<tr>
       				<td>李四</td>
       				<td>2014-03-01XX项目	助审</td>
       			</tr>
       			<tr>
       				<td>王五</td>
       				<td>空闲</td>
       			</tr>
  			</table>
  		</div>
  	</div>
<body>
</html>  